<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
<!--
This plist is annotated. It will need to be updated to be consistent for a unique instance 
of a VM so that launchd can control the VM state.
-->
	<dict>
		<key>Label</key>
		<!-- Replace 'test' with a unique name. -->
		<string>com.brad-x.vm.fedora</string>
		<!-- This is where the script will output log messages. If you want to keep them. -->
		<key>StandardOutPath</key>
		<string>/var/log/vmrun.wrapper.log</string>
		<key>StandardErrorPath</key>
		<string>/var/log/vmrun.wrapper.log</string>
		<key>ProgramArguments</key>
		<array>
			<!-- The filesystem path to vmrun.wrapper -->
			<string>/opt/vmrun/bin/vmrun.wrapper</string>
			<string>start</string>
			<!-- The path to the vmx file that controls the VM -->
			<string>/Users/brad/Virtual Machines.localized/VMware/Fedora Workstation.vmwarevm</string>
		</array>
		<!-- Uncomment this part if you want an account other than root running your VM. -->
		<!-- <key>UserName</key>
		<string>_vmrun</string>
		<key>GroupName</key>
		<string>daemon<string> -->
		<!-- If a VM takes a long time to do a soft shutdown you may need more than 2 minutes -->
		<key>ExitTimeOut</key>
		<integer>180</integer>
		<key>Disabled</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
	</dict>
</plist>